<!-- Intro Page Template -->
<div id="intro" class="page">
	<h1>Rummy</h1>
	{{#if gameInProgress}}
		<p>
			<em>A game is currently in progress.</em>
			<button class="cta js-hash" data-hash="#scoreCard">Score Card</button>
			<br/>
			or <a href="#" id="js-abandon">Start New Game</a>
		</p>
	{{else}}
		{{#if winner}}
		<p>
			<b>"{{winner.name}}"</b> won this game.
			<button class="cta js-hash" data-hash="#scoreCard">Score Card</button>
			<br/>
			or <a href="#" id="js-abandon">Start New Game</a>
		</p>
		{{else}}
			<form name="newGame"><button class="cta">Start New Game</button></form>
		{{/if}}
	{{/if}}
	<br/>
	<table border="1">
		<tr>
			<td>Game end score</td>
			<td>
				{{#if settings.gameScore}}
					{{settings.gameScore}}
				{{else}}
					<i>not-set</i>
				{{/if}}
			</td>
		</tr>
		<tr>
			<td>Drop score</td>
			<td>
				{{#if settings.dropScore}}
					{{settings.dropScore}}
				{{else}}
					<i>not-set</i>
				{{/if}}
			</td>
		</tr>
		<tr>
			<td>Middle Drop score</td>
			<td>
				{{#if settings.middleDropScore}}
					{{settings.middleDropScore}}
				{{else}}
					<i>not-set</i>
				{{/if}}
			</td>
		</tr>
	</table>
	<br/>
	<a href="#scoreSettings">Score Settings</a> | <a href="#players">Players ({{players.length}})</a>
	<!-- <div class="fb-like" data-share="true" data-width="350"></div> -->
</div>

<!-- Players Page Template -->
<div id="players" class="page">
	<h1>Players</h1>
	<ol>
		{{#each players}}
			<li>
				{{this.name}} 
				{{#if ../gameInProgress}}
					{{#ifCond this.totalScore "gteq" ../../settings.gameScore}}
						<button data-player-index="{{@index}}" class="re-enter js-re-enter" type="button">Re Enter</button>
					{{/ifCond}}
					{{#if ../rounds}}{{else}}
						<button data-player-index="{{@index}}" type="button" class="remove js-remove">Remove</button>
					{{/if}}
					<!-- 
						<button data-player-index="{{@index}}" title="Remove disabled: Game in progress..." type="button" disabled="disabled" class="remove disabled">Remove</button>
					-->
				{{else}}
					<button data-player-index="{{@index}}" type="button" class="remove js-remove">Remove</button>
				{{/if}}
			</li>
			{{/each}}
	</ol>
	<form name="addPlayer">
		<input type="text" name="name" required="required" placeholder="Enter player name"/>
		<button class="cta">Add Player</button>
	</form>

	{{#if gameInProgress}}
		<p><sub class="back">&laquo;</sub> <a href="#scoreCard">Back to Score Card</a></p>
	{{else}}
		{{#ifCond players.length 'gt' 1}}
			{{#if winner}}
				<p><sub class="back">&laquo;</sub> <a href="#scoreCard">Back to Score Card</a></p>
			{{else}}
				<br /><form name="newGame"><button class="cta">Start Game</button></form>
			{{/if}}
		{{/ifCond}}
	{{/if}}
</div>

<!-- Score Card Page Template -->
<div id="scoreCardGraph" class="page scoreCard">
	<h1>Score Card</h1>
	<div id="graphContainer"></div>
	<br/>
	<button class="cta js-hash" data-hash="#roundScore">Enter Scores</button>
	<p><a href="#scoreCard">Show Table View</a></p>
</div>

<!-- Score Card Page Template -->
<div id="scoreCard" class="page scoreCard">
	<h1>Score Card</h1>
	{{#ifCond players.length 'gt' 4}}
		<div class="tables">
			<table class="nameTable">
				<tr>
					<th></th>
				</tr>
				{{#each players}}
					<tr {{#ifCond this.totalScore "gteq" ../settings.gameScore}}class="strike"{{/ifCond}}>
						<th>
							<div class="name">{{this.name}}</div>
							<div class="small">
								<em>D:</em> {{this.dropsLeft}},
								<em>M:</em> {{this.middleDropsLeft}}
							</div>
						</th>
					</tr>
					{{/each}}
			</table>
			<div class="tableBox">
				{{#ifCond roundNumber 'gteq' 5}}
					<table>
						<tr>
							{{#each rounds}}
								<td><span class="round">{{inc @index}}</span></td>
							{{/each}}
							<td class="total">T</td>
						</tr>
						{{#each players}}
	    					<tr {{#ifCond this.totalScore "gteq" ../settings.gameScore}}class="strike"{{/ifCond}}>
								{{#each this.rounds}}
									<td>{{this}}</td>
								{{/each}}
								<td class="total"><b>{{this.totalScore}}</b></td>
	    					</tr>
	  					{{/each}}
					</table>
				{{else}}
					<table class="nameTable">
						<tr>
							{{#each rounds}}
								<td><span class="round">{{inc @index}}</span></td>
							{{/each}}
						</tr>
						{{#each players}}
	    					<tr {{#ifCond this.totalScore "gteq" ../settings.gameScore}}class="strike"{{/ifCond}}>
								{{#each this.rounds}}
									<td>{{this}}</td>
								{{/each}}
	    					</tr>
	  					{{/each}}
					</table>
					<table class="total">
						<tr>
							<td>T</td>
						</tr>
						{{#each players}}
	    					<tr {{#ifCond this.totalScore "gteq" ../settings.gameScore}}class="strike"{{/ifCond}}>
								<td><b>{{this.totalScore}}</b></td>
	    					</tr>
	  					{{/each}}
					</table>
				{{/ifCond}}
			</div>
		</div>
	{{else}}
		<table border="1" class="vertical">
			<tr>
				<th width="10"></th>
				{{#each players}}
					<th class="small{{#ifCond this.totalScore "gteq" ../settings.gameScore}} strike{{/ifCond}}">
						<div class="name">{{this.name}}</div>
						<div class="dropsleft">
							<span>D:&nbsp;{{this.dropsLeft}}</span>
							<span>M:&nbsp;{{this.middleDropsLeft}}</span>
						</div>
					</th>
				{{/each}}
			</tr>
			{{#each rounds}}
				<tr>
					<td class="small"><span class="round">{{inc @index}}</span></td>
					{{#each this}}
						<td>{{this}}</td>
					{{/each}}
				</tr>
			{{/each}}
			<tr class="total">
				<td class="small">T</td>
				{{#each players}}
					<td {{#ifCond this.totalScore "gteq" ../settings.gameScore}}class="strike"{{/ifCond}}>
						<b>{{this.totalScore}}</b>
					</td>
				{{/each}}
			</tr>
		</table>
	{{/ifCond}}
	<button class="cta js-hash" data-hash="#roundScore">Enter Scores</button>
	<p><a href="#scoreCardGraph">Show Graph View</a></p>
</div>

<!-- Round Score Page Template -->
<div id="roundScore" class="page">
	<h1>Round {{inc rounds.length}} Scores</h1>
	<form name="saveRoundScore">
		{{#each players}}
			{{#ifCond this.totalScore "gteq" ../settings.gameScore}}
				<input type="hidden" name="roundScores" value="0" />
			{{else}}
				<input type="number" min="0" max="80" name="roundScores" value="" required="required" placeholder="Enter {{this.name}}'s Score"/>
			{{/ifCond}}
			{{/each}}
			<button class="cta">Save</button>
	</form>
	<p><sub class="back">&laquo;</sub> <a href="#scoreCard">Back to Score Card</a></p>
</div>

<!-- Log In to Facebook Page Template -->
<div id="loginToFB" class="page">
	<h1>Log in to Facebook</h1>
	<p>Logging makes adding players a breeze. No spaming we promise</p>
	<button class="cta">Log in to Facebook</button>
</div>

<!-- Score Settings Page Template -->
<div id="scoreSettings" class="page">
	<h1>Score Settings</h1>
	<form name="scoreSettings">
		<div>
			<label>Game end score</label>
			<input type="number" min="100" max="500" name="gameScore" placeholder="Game end score" value="{{settings.gameScore}}" required="required"/>
			<div class="error">Choose a value between 100 and 500</div>
		</div>
		<div>
			<label>Drop score</label>
			<input type="number" min="10" max="50" name="dropScore" placeholder="Drop score" value="{{settings.dropScore}}"  required="required" />
			<div class="error">Choose a value between 10 and 50</div>
		</div>
		<div>
			<label>Middle drop score</label>
			<input type="number" min="20" max="100" name="middleDropScore" placeholder="Middle drop score" value="{{settings.middleDropScore}}" required="required" />
			<div class="error">Choose a value between 20 and 100</div>
		</div>
		<button class="cta" >Save Game Settings</button>
	</form>
	{{#if gameInProgress}}
		<p><sub class="back">&laquo;</sub> <a href="#scoreCard">Back to Score Card</a></p>
	{{else}}
		{{#ifCond players.length 'gt' 1}}
			{{#if winner}}
				<p><sub class="back">&laquo;</sub> <a href="#scoreCard">Back to Score Card</a></p>
			{{else}}
				<br /><form name="newGame"><button class="cta">Start Game</button></form>
			{{/if}}
		{{/ifCond}}
	{{/if}}
</div>

<!-- Winner Page Template -->
<div id="winner" class="page">
	<h1>We have a winner</h1>
	<p>Congratulations <b>{{winner.name}}</b>!!!</p>
	<br />
	<button class="cta js-hash" data-hash="#scoreCard">Score Card</button>
</div>

<div id="about" class="page">
	<h1>About</h1>
	<h3>Founders</h3>
	<ul>
		<li>Kiran Manda - <a href="http://www.kiranmanda.com">http://www.kiranmanda.com</a></li>
		<li>Pradeep Yalamanchili</li>
	</ul>
	<h3>Our Story - For the LOVE of rummy</h3>
	<p>
		Pradeep my friend is a big fan of rummy. He plays this card game with his fellow rummy enthusiasts. One day he floated this idea about score tracking while playing the game. We brainstormed some ideas and quickly put together this single page web application. We hope you like this.
	</p>
	<p>
		This web application uses browser's local storage to store data. Certain browsers may not support local storage in private browsing.
	</p>

</div>

<!-- Terms and Conditions Page Template -->
<div id="terms" class="page">
	<h1>Terms and Conditions ("Terms")</h1>
	<p>Last updated: July 25, 2015</p>

	<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.rummyscorecard.com website (the "Service") operated by Rummy Score Card ("us", "we", or "our").</p>

	<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

	<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>


	<p><strong>Links To Other Web Sites</strong></p>

	<p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Rummy Score Card.</p>

	<p>Rummy Score Card has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Rummy Score Card shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

	<p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

	<p><strong>Termination</strong></p>

	<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

	<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


	<p><strong>Governing Law</strong></p>

	<p>These Terms shall be governed and construed in accordance with the laws of Oregon, United States, without regard to its conflict of law provisions.</p>

	<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>

	<p><strong>Changes</strong></p>

	<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

	<p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>

	<p>Our Terms and Conditions agreement was generated by <a href="https://termsfeed.com/terms-conditions/generator/">TermsFeed Terms and Conditions Generator</a>.</p>

	<p><strong>Contact Us</strong></p>

	<p>If you have any questions about these Terms, please contact us.</p>
</div>


